<h1>Bienvenido a Cronos Quest</h1>
<p>Suena cancion de Dragon Quest.</p>
<!--contro, source, mute, se necesita mp3 ogg o wav-->
<!--<audio src="https://www.youtube.com/watch?v=waH3uNlwMo4&list=RDwaH3uNlwMo4&start_radio=1" autoplay loop></audio>-->
