/* Variables del figma */
:root {
    --Midnight: #30011E; /* primary */
    --DarkTeal: #0B3948; /* Secundary */
    --PacificBlue: #5AB1BB;
    --BarbiePink: #FA198B;
    --Wisteria: #BF9ACA; /* bono */
}

body {
    background-color: #f8f9fa;
    /* Espacio para que las barras fijas no tapen el contenido */
    padding-top: 72px;
    padding-bottom: 92px;
}

/* Navbar estilo RPG */
/* el que esta selecionado debe que tener un fondo de --Wisteria para diferenciarlo y no hacer bajarle la intencidad a los no selecionados */
.custom-nav {
    background-color: var(--Midnight) !important;
    /* box-shadow: 0 4px 8px rgba(var(--Wisteria), 0.1) !important; */
    border-radius: 0px 0px 20px 20px;
}

/* Barra inferior móvil */
.bottom-nav {
    background-color: var(--Midnight) !important;
    height: 80px;
    padding: 0;
    border-radius: 0px 0px 0px 0px;
}

.nav-item-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white ;
    text-decoration: none;
    font-size: 0.8rem;
    transition: 0.3s;

    /* Norde */
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 12px;
}

.nav-item-mobile i {
    font-size: 1.5rem;
}

/* Falta el fondo del color rosa bajo --Wisteria para diferenciar el activo y el que no esta activo */
.nav-item-mobile.active {
    color: white;
    border-radius: 12px;
    padding: 6px 12px;
    border: 2px solid white;
}

/* Efecto visual al presionar */
.nav-item-mobile:active {
    transform: scale(0.9);
}

/* Estilo para escritorio, quitar los espacios inferiores */
@media (min-width: 768px) {
    body {
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .bottom-nav {
        border-radius: 20px 20px 0 0;
    }
}