<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Chrono Quest</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="https://i.pinimg.com/736x/91/b7/0f/91b70f06458fe3332ef73e00f53385e6.jpg">
</head>

<body>
<!-- Cosas de ariba -->


<!-- Aqui se pinta la info -->
<main class="container py-4">
    {{{body}}}
</main>

<!-- Cosas abajo -->

<!-- Bostrap -->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>